* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    position: relative;
}

.logo {
    font-size: 3rem;
    color: #b6bfd2;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover {
    transform: scale(1.1);
    text-shadow: #b6bfd2 0px 0px 43px;
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
    position: relative;
}

nav a:hover::before, .active{
   width: 100%;
}

nav a:before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color:#b6bfd2;
    transition: all 0.5s;
}

@media(max-width:995px) {
    nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 40%;
        border-left: 3px solid #b6bfd2;
        border-bottom: 3px solid #b6bfd2;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: black;
        border: 0.1 rem solid rgba(0, 0, 0, 0.1);
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a.active,
    nav a:hover {
        padding: 1 rem;
        border-radius: o.5rem;
        border-bottom: 0.5 solid #b6bfd2;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    color: #b6bfd2;
}


.home-content p {
    font-size: 1.6rem;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 0px #b6bfd2;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover {
    font-size: 1.8rem;
    font-weight: 500;
}


.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b6bfd2;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b6bfd2;
    transition: 0.3s ease;
    cursor: pointer;
    margin-top: 1.5rem;
}

.btn:hover {
    transform: scale3d(1.03);
    background-color: #b6bfd2;
    color: black;
    box-shadow: 0 0 25px #b6bfd2;
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home .home-content h3{
        font-size: 2.5rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}
